Scratchpad for identifying unique words and average word length per song.  Data saved and later used in Tableau for visualization.

In [1]:
import pickle
import pandas as pd
import nltk

In [2]:
with open('../data/metal_artists.pickle','rb') as rf:
    metal = pickle.load(rf)

In [83]:
df = pd.DataFrame(metal)

In [84]:
df.dropna(subset=['lyrics'],inplace=True)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50039 entries, 0 to 50040
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   50039 non-null  object
 1   release_date  33338 non-null  object
 2   page_views    50039 non-null  int64
 3   song_title    50039 non-null  object
 4   album_name    50039 non-null  object
 5   spotify_url   29525 non-null  object
 6   lyrics        50039 non-null  object
dtypes: int64(1), object(6)
memory usage: 3.1+ MB

In [6]:
lyrics = df['lyrics']

In [11]:
english_words = set(nltk.corpus.words.words())

In [18]:
lyric_list = []
for row in lyrics:
    unique_words = set(row)
    lyric_list.append(english_words & unique_words)

In [20]:
lyric_list = lyrics.tolist()

In [22]:
len(lyric_list)

50039

In [27]:
final = []
for lyric in lyric_list:
    unique_words = set(lyric.split())
    final.append(english_words & unique_words)

In [31]:
unique_lyrics = pd.Series(final)

In [105]:
df['unique_words'] = unique_lyrics.str.len()

In [38]:
df.unique_words.unique()

array([ 66.,  99., 112.,  61.,  88.,  65.,  68.,  53.,  81., 103.,  22.,
        80., 140.,  82.,  64.,  79.,  71.,  90.,  76.,  92.,  74.,  98.,
        54., 102.,  42.,  93.,  91.,  44.,  70.,   0.,  52.,  35., 117.,
        59., 101.,  75.,  96.,  56., 109., 130., 122., 131.,  84., 149.,
        83., 126., 115., 119.,  86.,  89., 129., 113., 108.,  78.,  67.,
       105., 145., 136., 123., 132., 134., 143., 125.,  47.,  58., 107.,
       120., 138., 142., 100., 128., 116., 118.,  69.,  97.,  95.,  77.,
       154.,  57.,  30.,  49.,  87.,  50.,  72.,  60.,  51.,  85.,  38.,
        63.,  45.,  62.,  48.,  55., 104.,  39.,  28.,  73., 148., 114.,
        26., 111.,  41.,  94.,  43.,  37.,  29.,  16., 106.,  20., 110.,
        33.,  40.,  25., 195., 168., 151.,  46.,  12.,  10.,  17.,  19.,
        14.,  13., 127.,  18.,  24.,  11., 171.,  15.,   9.,   3.,  31.,
         5.,  32.,   4., 165., 188.,   6.,  36., 157.,  27.,  23.,   2.,
       133.,  21.,   7., 182., 135.,  34.,   1., 166., 147., 150., 162.,
       337., 158., 584., 152., 170., 124., 234., 192., 155., 204., 220.,
       176., 281., 181., 221., 184., 186., 194., 235., 164., 160., 219.,
       240., 193., 198., 163., 146., 179., 191., 175., 199., 141., 211.,
       189., 213.,   8., 202., 190., 177., 217., 174., 180., 144., 242.,
       267., 121., 161., 218., 153., 197., 173., 178., 205., 279., 183.,
       201., 264., 577., 229., 243., 257., 156., 272., 159., 298., 172.,
       210., 216., 389., 404., 338., 230., 315., 343., 227., 206., 169.,
       208., 231., 222., 244., 167., 224., 185., 226., 207., 137., 214.,
       237., 225., 139., 232., 203., 200., 223., 196., 245., 236., 327.,
       252., 247., 212., 228., 289., 239., 365., 187., 256., 514., 297.,
       241., 268., 255., 261., 265., 233., 292., 253., 464., 333., 293.,
       250., 310., 278., 538., 238., 838., 336., 384., 482., 215., 258.,
       426., 370., 382., 269., 305., 535., 248., 251., 287., 348., 209.,
       322., 270., 398., 334., 449., 359., 430., 275., 314., 273., 346.,
       453., 288., 356., 294., 340., 259., 376., 249., 344., 276., 381.,
       277., 274.,  nan])

In [40]:
df.head()

,artist_name,release_date,page_views,song_title,album_name,spotify_url,lyrics,unique_words
0,Kreator,2016-12-16,13775,Satan Is Real,Gods of Violence,nan,Martyrs\nYou cannot kill us all\nVengeance wil...,66.0
1,Kreator,1986-11-01,8745,Pleasure to Kill,Pleasure to Kill,nan,Day turns to night as I rise from my grave\nBl...,99.0
2,Kreator,None,5037,Enemy Of God,Enemy Of God,nan,"Shocked Orwellian races, gather united in grie...",112.0
3,Kreator,2017-01-27,0,Fallen Brother,Gods of Violence,nan,[Instrumental Intro]\n\nMuch too young you had...,61.0
4,Kreator,2017-01-27,0,Totalitarian Terror,Gods of Violence,nan,Come experience hate like you never have befor...,88.0

In [42]:
import numpy as np

In [50]:
def avg_word_length(word_set):
    return np.mean([len(word) for word in word_set])

In [106]:
df['avg_word_length'] = unique_lyrics.apply(avg_word_length)

/Users/drewhibbard/anaconda3/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3334: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,

In [107]:
df.head()

,artist_name,release_date,page_views,song_title,album_name,spotify_url,lyrics,longest_word,unique_words,avg_word_length
0,Kreator,2016-12-16,13775,Satan Is Real,Gods of Violence,nan,Martyrs\nYou cannot kill us all\nVengeance wil...,compartmentalization,66.0,4.393939
1,Kreator,1986-11-01,8745,Pleasure to Kill,Pleasure to Kill,nan,Day turns to night as I rise from my grave\nBl...,misinterpretation,99.0,4.121212
2,Kreator,None,5037,Enemy Of God,Enemy Of God,nan,"Shocked Orwellian races, gather united in grie...",trichloroethylene,112.0,5.089286
3,Kreator,2017-01-27,0,Fallen Brother,Gods of Violence,nan,[Instrumental Intro]\n\nMuch too young you had...,misrepresentation,61.0,4.131148
4,Kreator,2017-01-27,0,Totalitarian Terror,Gods of Violence,nan,Come experience hate like you never have befor...,misrepresentation,88.0,5.000000

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50039 entries, 0 to 50040
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   artist_name      50039 non-null  object
 1   release_date     33338 non-null  object
 2   page_views       50039 non-null  int64
 3   song_title       50039 non-null  object
 4   album_name       50039 non-null  object
 5   spotify_url      29525 non-null  object
 6   lyrics           50039 non-null  object
 7   unique_words     50037 non-null  float64
 8   avg_word_length  48441 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 5.1+ MB

In [108]:
df.dropna(subset=['unique_words','avg_word_length'],inplace=True)

In [109]:
df.drop('lyrics',axis=1,inplace=True)

In [110]:
df.to_csv('../data/unique_words.csv',index=False)

In [69]:
df.release_date.isnull().sum()

16293

In [92]:
longest_words = []
for lyrics in final:
    try:
        longest_words.append(max(lyrics,key=len))
    except:
        longest_words.append('na')

In [93]:
longest_words.sort(key=len,reverse=True)

In [101]:
len(longest_words)

50039

In [103]:
df['longest_word'] = pd.DataFrame(longest_words)

In [104]:
df.head()

,artist_name,release_date,page_views,song_title,album_name,spotify_url,lyrics,longest_word
0,Kreator,2016-12-16,13775,Satan Is Real,Gods of Violence,nan,Martyrs\nYou cannot kill us all\nVengeance wil...,compartmentalization
1,Kreator,1986-11-01,8745,Pleasure to Kill,Pleasure to Kill,nan,Day turns to night as I rise from my grave\nBl...,misinterpretation
2,Kreator,None,5037,Enemy Of God,Enemy Of God,nan,"Shocked Orwellian races, gather united in grie...",trichloroethylene
3,Kreator,2017-01-27,0,Fallen Brother,Gods of Violence,nan,[Instrumental Intro]\n\nMuch too young you had...,misrepresentation
4,Kreator,2017-01-27,0,Totalitarian Terror,Gods of Violence,nan,Come experience hate like you never have befor...,misrepresentation

In [95]:
import os

In [96]:
os.getcwd()

'/Users/drewhibbard/Documents/Projects/lyric-nlp/images'

In [100]:
open('../data/longest_words.txt','w').write(' '.join(longest_words[:250]))

3955

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48441 entries, 0 to 50038
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   artist_name      48441 non-null  object
 1   release_date     32148 non-null  object
 2   page_views       48441 non-null  int64
 3   song_title       48441 non-null  object
 4   album_name       48441 non-null  object
 5   spotify_url      28670 non-null  object
 6   unique_words     48441 non-null  float64
 7   avg_word_length  48441 non-null  float64
dtypes: float64(2), int64(1), object(5)
memory usage: 3.3+ MB